<div class="container">
  <div class="form_container">
    <h2 class="">Create a new comment</h2>
    <%= form_with(model: [@user, @post, Comment.new], url: user_post_comments_path(@user, @post), local: true) do |f| %>
      <%= f.hidden_field :user_id, value: @post.author.id %>
      <div class="form_group">
        <%= f.label :text %>
        <%= f.text_area :text, class: 'form_control' %>
      </div>
      <div class="form_group">
        <%= f.submit "Save comment", class: "btn btn-outline-secondary rounded-pill m-2" %>
      </div>
    <% end %>
  </div>
</div>
